{% extends 'admin_base.html.twig' %}

{% block title %}Alert index{% endblock %}

{% block body %}
    <h1>Alert index</h1>

    <a class="btn btn-primary" href="{{ path('app_admin_alert_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Finished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr>
                <td>{{ alert.id }}</td>
                <td>{{ alert.createdAt ? alert.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ alert.finished ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_admin_alert_show', {'id': alert.id}) }}">show</a>
                    <a href="{{ path('app_admin_alert_edit', {'id': alert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
