@model StockManagement_DTO.Global.ProductSearchDTO;

<!--Search view-->
<h5>Rechercher un produit</h5>

<div class="mb-3">
    <form method="get">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="IdStorage" class="form-label"></label>
            <select asp-for="IdStorage" class="form-control">
                <option value=""></option>
                @foreach (var storage in ViewBag.Storages)
                {
                    @if (storage.Id == ViewBag.Search.IdStorage) 
                    {
                        <option value="@storage.Id" selected>@storage.Name</option>
                    }
                    else
                    {
                        <option value="@storage.Id">@storage.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group mb-3">
            <label asp-for="IdCategory" class="form-label"></label>
            <select asp-for="IdCategory" class="form-control">
                <option value=""></option>
                @foreach (var category in ViewBag.Categories)
                {
                    @if (category.Id == ViewBag.Search.IdCategory)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <button asp-action="Search" asp-controller="Product" class="btn btn-primary">Rechercher</button>
    </form>
</div>
