{% extends 'base.html.twig' %}

{% block title %}Alerts{% endblock %}

{% block body %}
    <h1 class="mb-3">Alerts</h1>
    <a href="{{ path('app_alert_new') }}" class="btn btn-primary mb-3">Create an alert</a>
    {% if paginator.count > 0 %}
        <ul>
            {% for alert in paginator %}
                <li class="mb-3">
                    <a href="{{ path('app_alert', {'id': alert.id}) }}">See alert</a>
                    <h5 class="mb-3">Product to retake:</h5>
                    <ul>
                        {% for product in alert.products %}
                            <li class="mb-3">
                                <div class="m-3">
                                    <p>Product name: {{ product.name }}</p>
                                    <p>Min quantity to refill: {{ product.minQuantity }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <p>Created at: {{ alert.createdAt.format('Y-M-D h.m.s') }}</p>
                    <button type="button" class="btn btn-danger delete-button" data-delete-button-source="delete" data-controller="delete" data-action="delete#delete" data-url="{{ path('app_alert_delete', {'id': alert.id}) }}">Delete</button>
                    <button type="button" class="btn btn-primary finish-button" data-finish-button-source="finish" data-controller="finish" data-action="finish#finish" data-url="{{ path('app_alert_finish', {'id': alert.id}) }}">Set finished</button>
                </li>
            {% endfor %}
        </ul>
        <div class="navigation">
            {% if currentPage > 1 %}
                <a href="{{ path('app_alerts', {'page': currentPage - 1}) }}">&laquo; Previous</a>
            {% endif %}

            {% if totalPages > 1 %}
                {% for i in 1..totalPages %}
                    {% if i == currentPage %}
                        <span>{{ i }}</span>
                    {% else %}
                        <a href="{{ path('app_alerts', {'page': i}) }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if currentPage < totalPages %}
                <a href="{{ path('app_alerts', {'page': currentPage + 1}) }}">Next &raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <p>No alerts found.</p>
    {% endif %}
{% endblock %}
