{% extends 'base.html.twig' %}

{% block title %}Alerts{% endblock %}

{% block body %}
    <h1 class="mb-3">Alerts</h1>
    <a href="{{ path('app_alert_new') }}" class="btn btn-primary mb-3">Create an alert</a>
    {% if alerts %}
        <ul>
            {% for alert in alerts %}
                <li class="mb-3">
                    <a href="{{ path('app_alert', {'id': alert.id}) }}" class="btn btn-primary">See alert</a>
                    <h5 class="mb-3">Product to retake:</h5>
                    <ul>
                        {% for product in alert.products %}
                            <li class="mb-3">
                                <div class="m-3">
                                    <p>Product name: {{ product.name }}</p>
                                    <p>Min quantity to refill: {{ product.minQuantity }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn btn-danger delete-button" data-delete-button-source="delete" data-controller="delete" data-action="delete#delete" data-url="{{ path('app_alert_delete', {'id': alert.id}) }}">Delete</button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No alerts found.</p>
    {% endif %}
{% endblock %}
