{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1 class="mb-3">Products</h1>
    <a href="{{ path('app_product_new') }}" class="mb-3 btn btn-primary">Create product</a>
    {% if products %}
        <ul>
        {% for product in products %}
            <li class="mb-3">
                <a href="{{ path('app_product', {'id': product.id }) }}">{{ product.name }}</a>
                <ul class="btn-group">
                    <a class="btn btn-primary" href="{{ path('app_product_update', {'id': product.id}) }}">Update</a>
                    <button type="button" class="btn btn-danger delete-button" data-delete-button-source="delete" data-controller="delete" data-action="delete#delete" data-url="{{ path('app_product_delete', {'id': product.id}) }}">Delete</button>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No products found</p>
    {% endif %}
{% endblock %}
