{% extends 'base.html.twig' %}

{% block title %}New product{% endblock %}

{% block body %}
    <h1>Add a new product</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-3" type="submit">Add product</button>
    {{ form_end(form) }}
    <a href="{{path('app_products')}}" class="btn btn-secondary">Return</a>
{% endblock %}
