{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
    {% if product %}
        <div class="card mb-3">
            {% if product.imageUrl %}
                <img src="{{ product.imageUrl }}" alt="{{ product.name }} image" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                {% if product.description %}
                    <p class="card-text">{{ product.description }}</p>
                {% endif %}
                {% if product.quantity %}
                    <p>{{ product.quantity }}</p>
                {% endif %}
                <p>Created at : {{ product.createdAt.format('Y-M-D h.m.s') }}</p>
                <p>Storage: {{ product.storage.name }}</p>
            </div>
        </div>
    {% endif %}
    <a href="{{path('app_products')}}" class="btn btn-secondary">Return</a>
</div>
{% endblock %}
