{% extends 'base.html.twig' %}

{% block title %}Stock Managment{% endblock %}

{% block body %}
    <h1 class="mb-3">Storages list</h1>
    <a href="{{ path('app_storage_new') }}" class="btn btn-primary mb-3">Create a storage</a>
    {% if storages %}
        <ul>
        {% for storage in storages %}
            <li>
                <a href="{{ path('app_storage_products', {'id' : storage.id}) }}">{{storage.name}}</a>
                <p>Number of products: {{ storage.products.count }}</p>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('app_storage_update', {'id': storage.id}) }}">Update</a>
                    <button type="button" class="btn btn-danger delete-button" data-delete-button-source="delete" data-controller="delete" data-action="delete#delete" data-url="{{ path('app_storage_delete', {'id': storage.id}) }}">Delete</button>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No storages found.</p>
    {% endif %}
{% endblock %}
