{% extends 'base.html.twig' %}

{% block title %}Stock Managment{% endblock %}

{% block body %}
    <h1 class="mb-3">Storages list</h1>
    <a href="{{ path('app_storage_new') }}" class="btn btn-primary mb-3">Create a storage</a>
    {% if paginator.count > 0 %}
        <ul>
        {% for storage in paginator %}
            <li>
                <a href="{{ path('app_storage_products', {'id' : storage.id}) }}">{{storage.name}}</a>
                {% if storage.products %}
                    <p>Number of products: {{ storage.products.count }}</p>
                {% else %}
                    <p>No products</p>
                {% endif %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('app_storage_update', {'id': storage.id}) }}">Update</a>
                    <button type="button" class="btn btn-danger delete-button" data-delete-button-source="delete" data-controller="delete" data-action="delete#delete" data-url="{{ path('app_storage_delete', {'id': storage.id}) }}">Delete</button>
                </div>
            </li>
        {% endfor %}
        </ul>
        <div class="navigation">
            {% if currentPage > 1 %}
                <a href="{{ path('app_storages', {'page': currentPage - 1}) }}">&laquo; Previous</a>
            {% endif %}

            {% if totalPages > 1 %}
                {% for i in 1..totalPages %}
                    {% if i == currentPage %}
                        <span>{{ i }}</span>
                    {% else %}
                        <a href="{{ path('app_storages', {'page': i}) }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if currentPage < totalPages %}
                <a href="{{ path('app_storages', {'page': currentPage + 1}) }}">Next &raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <p>No storages found.</p>
    {% endif %}
{% endblock %}
